$negro: #111111;
$blanco: #FEFEFE;
$grisOscuro: #222222;
$grisClaro: #c8c8c8;
$grisClaroHover: #ACABAB;
$azul: #3e60e9;
$azulHover: #254eb6;

$sombaDark: 10px 10px 20px rgba(170,170,170,.16);
$sombraLight: 10px 10px 20px rgba(0,0,0,.16);

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 100;
}

body{
  background-color: #f1f1f1;
  font-family: 'Noto Sans KR', sans-serif;
  transition: .3s ease all;

  h1{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.dark{
    background-color: $negro;

    h1{
      color: $grisClaro;
    }
  }
}

.contenedor{
  max-width: 1000px;
  width: 90%;
  margin: auto;
  padding: 50px 0;
}

a{
  color: $grisOscuro;
  text-decoration: none;
  font-weight: 500;
}

// ------- HEADER -------
nav{
  background-color: $blanco;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  transition: .3s ease all;
  box-shadow: $sombaDark;

  body.dark & {
    background-color: $grisOscuro;
    box-shadow: $sombraLight;
    a{
      color: $grisClaro;
      &:hover{
        color: $blanco;
      }
    }
  }

  .logotipo{
    font-weight: 700;
    font-family: 'Noto Sans KR', sans-serif;
  }

  .enlaces{
    display: flex;
    align-items: center;
    a{
      margin-right: 40px;
      &:hover{
        color: #707070;
      }
    }
  }

  .carrito{
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
    display: block;
    color: none;
    border: none;
    outline: none;
    color: $grisOscuro;
  }

}

// ------- SWITCH -------
.switch{
  background-color: #343d5b;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: flex;
  outline: none;
  &::after{
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.2);
  }
  &.active{
    background-color: #f5f5dc;
    color: $negro;
    &::after{
      right: 0;
      left: unset;
    }
  }
  span{
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background-color: none;
    color: #fff;
  }
}

// ------- MAIN -------

.card{
  padding: 5px;
  margin: 10px;
  transition: .3s ease all;

  body.dark & {
    background-color: $grisOscuro;
    box-shadow: $sombraLight;
    h5{
      color: $grisClaro;
      &:hover{
        color: $blanco;
      }
    }
    p{
      color: $grisClaro;
      &:hover{
        color: $blanco;
      }
    }
    a{
      color: $grisClaro;
      &:hover{
        color: $blanco;
      }
    }
    
  }

    .btn-primary {
      width: 93px;
    }
}

#carrito{
  width: 30%; 
  background-color: black; 
  height: 30%;
}

#listaProductos{

width: 70%;
}

img{
  height: 100%;

}

td{
  height: 100px;
}

h2{
 text-align: center;
 color:gray;
}

.precio{
 display:block;
 font-size:20px;
}

